<li class="external-link"><a href="https://github.com/berendt"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a target="_blank" href="mailto:christian@berendt.io"><i class="fa fa-envelope"></i> Contact</a></li>
<li class="external-link"><a href="https://de.linkedin.com/in/christianberendt"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
<li class="external-link"><a href="https://www.xing.com/profile/Christian_Berendt"><i class="fa fa-xing"></i> Xing</a></li>
<li class="external-link"><i class="fa fa-link"></i> <a href="http://www.berendt.io">Website</a></li>
<li class="external-link"><i class="fa fa-map-marker"></i> <a href="https://www.google.com/maps/place/Asperg">Location</a></li>
<li class="external-link"><i class="fa fa-user"></i> <a href="/biography">Biography</a></li>
